.btn-icon {
  background: $violet;
  width: $icon-width-height;
  height: $icon-width-height;
  color: white;
  border-radius: $icon-border-radius;
  text-align: center;
  margin-left: $icon-margin-left;
}
