// theme
$app-max-width: 2500px;

$main-navbar-height: 90px;
$secondary-column-width: 340px;

$product-img-width: 240px;

// icon
$icon-width-height: 28px;
$icon-border-radius: 3px;
$icon-margin-left: 10px;

// cart item
$cart-item-num: 70px;


$half-rounded-border-radius: 20px;

// slider
$slider-width: 300px;
$slider-height: 200px;

.pt-6 {
  padding-top: $spacer * 4.5;
}

.mb-6 {
  margin-bottom: $spacer * 4.5;
}

.container-custom-width {
  max-width: 1288px;
}

.col-xl-aside {
  @include media-breakpoint-up(xl) {
    flex: 0 0 $secondary-column-width !important;
  }
}

.col-xl-main {
  @include media-breakpoint-up(xl) {
    flex: 1 0 0;
  }
}

// label width for 2 Chinese characters
.label-2 {
  width: 60px;
}

// label width for 3 Chinese characters
.label-3 {
  width: 75px;
}


// label width for 4 Chinese characters
.label-4 {
  width: 80px;
}

// circles with 2 Chinese characters
.circle-2 {
  height: 65px;
  width: 65px;
}
