$main-navbar-height: 90px;
$secondary-column-width: 340px;

$product-img-width: 240px;

// icon
$icon-width-height: 28px;
$icon-border-radius: 3px;
$icon-margin-left: 10px;

// cart item
$cart-item-num: 70px;


$half-rounded-border-radius: 20px;
$half-rounded-height: 38px;

// slider
$slider-width: 300px;
$slider-height: 200px;

.container-custom-width {
  max-width: 1288 px;
}

.col-xl-aside {
  @include media-breakpoint-up(xl) {
    flex: 0 0 $secondary-column-width !important;
  }
}

.col-xl-main {
  @include media-breakpoint-up(xl) {
    flex: 1 0 0;
  }
}
