.left-rounded {
  border-radius: $half-rounded-border-radius 0 0 $half-rounded-border-radius;
  margin-right: 0;
}

.right-rounded {
  border-left: 0px solid;
  border-radius: 0 $half-rounded-border-radius $half-rounded-border-radius 0;
  margin-left: 0;
}
