.text-deleted {
  color: $light-gray;
}

.text-strong-color {
  color: $text-strong-color;
}

.text-subtitle {
  color: $subtitle-color;
}

.text-icon {
  color: $icon-color;
}

.text-icon-highlight {
  color: $icon-highlight-color;
}

@mixin break-line($lineNum) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lineNum;
  -webkit-box-orient: vertical;
  line-height: 1.4;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

.primary-font {
  font-family: Raleway, 'Microsoft JhengHei UI','Microsoft JhengHei','Microsoft YaHei', sans-serif;
}

.letter-spacing-md {
  letter-spacing: 0.1rem;
}

.fs-7 {
  font-size: 0.875rem;
}

.fs-8 {
  font-size: 0.8rem;
}

.fs-sm {
  font-size: 14px;
}

.fs-normal {
  font-size: 16px;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.line-height-1 {
  line-height: 1;
}

.break-line-2 {
  @include break-line(2);
}

.break-line-3 {
  @include break-line(3);
}

.break-line-4 {
  @include break-line(4);
}

.break-line-10 {
  @include break-line(10);
}
