// $purple:  #c0b8e6;
$purple: #9494d1;
$pink: #e98dd8;

$light-gray: #a8a8ab;
$gray-600: #595959;
$primary: $purple;

$deep-sakura-pink: #e68994;
$deep-pink: #ff4477;
$coral: #ffbab2;
$deep-blue: #003354;
$saturated-purple: #9494d1; // #a1a0e6;
$violet: #aaaad6;
$deep-purple: #906cb0; // #785A92;
$light-purple: #d4d4ed;

$text-strong-color: $gray-600;
$subtitle-color: $gray-600;
$icon-color: $violet;
$icon-highlight-color: $pink;
